* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Times New Roman; /* ProgrammeLight, sans-serif; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}

video::-webkit-media-controls {
  display:none !important;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
